@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'integral';
  src: url('/assets/fonts/Fontspring-DEMO-integralcf-bold.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


